header {
  width: 100%;
  height: 128px;
  padding-top: 43px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;

  .logo_box {
    display: flex;
    column-gap: 16px;
    h3 {
      color: #000;
      font: normal 700 20px / normal Inter, sans-serif;
      text-transform: uppercase;
    }
    p {
      color: #9d9d9d;
      font: normal 400 14px / normal Inter, sans-serif;
    }
  }
  .x {
    display: none;
    margin-left: 45px;
    color: #9d9d9d;
  }
  .burger {
    display: none;
    flex-direction: column;
    margin: 3px 0 0 30px;
    cursor: pointer;
    gap: 8px;
    div {
      width: 30px;
      height: 2px;
      background-color: rgb(177, 177, 177);
    }
  }
  .div ul {
    display: flex;
    align-items: start;
    column-gap: 30px;
    li {
      list-style: none;
    }
  }
  nav ul {
    display: flex;
    align-items: start;
    column-gap: 30px;

    li {
      list-style: none;
    }
  }
  ul li:first-child {
    display: flex;
    column-gap: 10px;
    // border: 1px solid red;
    font: normal 600 14px / normal Inter, sans-serif;
    color: #5c5c5c;
  }
  @media screen and (max-width: 767px) {
    .logo_box {
      p {
        display: none;
      }
    }
    .div {
      display: none;
    }
    nav {
      box-shadow: 0px 0px 10px 2px rgb(235, 235, 235);
      border: 1px solid #d6d5d5;
      z-index: 99999;
      right: 40px;
      background-color: #fafafa;
      position: fixed;
    }
    nav ul {
      display: flex;
      width: 60px;
      border-radius: 5px;
      height: 100px;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
    }
    ul li:first-child p {
      display: none;
    }
    .burger {
      display: flex;
      // margin-top: 5px;
    }
    .x {
      display: flex;
    }
  }
}
